# Images and videos #
*.tif
*.avi
*.jpeg
*.gif
*.png

# Autosaves #
*.asv

# Example Files #
DetectPeopleExample.m
PedestrianTrackingFromMovingCameraExample.m

# Old Files #
detectionFilter.m
BlobAnalysis.m